/** new game **/
  html { 
    background: #333 url('img/bg_body.jpg') no-repeat center center; 
    height: 100%; 
    width: 100%; 
    font-family: Helvetica, Arial;
    font-size: 14px; 
    color: #666; 
  }
  .left { float: left; }
  .clear { clear: both; }
  .bg { 
    background: url('img/bg_genius.png') no-repeat center center; 
    position: absolute; 
    width: 640px; 
    height: 640px; 
    margin-top: -320px; 
    top: 50%; 
    left: 50%; 
    margin-left: -320px; 
    z-index: 10;
  }
  .webgame { 
    position: absolute; 
    top: 25px; 
    left: 25px; 
  }
  .webgame-txt { 
    position: absolute; 
    top: 80px; 
    left: 25px; 
    color: #666; 
    width: 400px; 
  }
  .jogadas { font-family: 'DSDIGI'; 
    position: relative; 
    height: 77px; 
    width: 100px; 
    bottom: 326px; 
    left: 288px; 
    z-index: 99; 
    font-size: 40px; 
    letter-spacing: 1px; 
    color: #EE4E2D; 
  }
  .green { width: 320px; height: 320px; }
  .blue { width: 320px; height: 320px; }
  .yellow { width: 320px; height: 320px; }
  .red { width: 320px; height: 320px; }
  .btn-start { 
    position: relative; 
    height: 46px; 
    width: 38px; 
    bottom: 270px; 
    left: 320px; 
    z-index: 99; 
    cursor: pointer; 
  }
  .btn-on-off { position: relative; 
    height: 46px; 
    width: 45px; 
    bottom: 270px; 
    left: 273px; 
    z-index: 98; 
    cursor: pointer; 
  }
  .btn-mute { position: absolute; bottom: 25px; left: 25px; }
  .logo-isul { position: absolute; bottom: 25px; right: 25px; }

  .btn img{
    margin: -10.2px 0px 0px -11px;
  }
  
  /* 1260px ou menor */
  @media screen and (max-width: 1260px) {
      .webgame-txt { width: 290px; }
  }
  
  /* 1150px ou menor */
  @media screen and (max-width: 1150px) {
      .webgame-txt { width: 160px; }
  }
  